/* backgorund image for page */ 
body {
    background-image: url(/background1.png);
    background-size: cover;
}
/* h1 settings */
header h1 {
    display:flex;
    justify-content: space-between;
    height: 110px;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

header img {
    border: 3px solid black;
    border-radius: 60%;
}

/* header settings */
header nav {
    font-size: large;
    color: rgb(255, 255, 255);
}

/* list settings */
li {
    gap: 10px;
    list-style: none;
    margin: 1%;
}
/* direction link settings */
a {
    color: rgb(255, 255, 255);
}
/*direction link settings */
a:hover {
    cursor: grabbing;
    color: rgb(202, 33, 33);
}
/*  trying to get my elements to display as a grid  */

.position {
    display: flex;
    justify-content: space-around;
}

#section1 {
    margin-top: 20%;
    display: flex;
    justify-content: flex-end;
}

#section2 {
    margin-top: 20%;
    display: flex;
    justify-content: flex-end;
}

#section3 {
    margin-top: 20%;
    display: flex;
    justify-content: flex-end;
}

#about {
    display: flex;
    justify-content: flex-start;
}

#about h2 {
    margin-right: 20%;
}

/* about h2 settings */
.about h2 {
    font-weight: bolder;
    font-size: 50px;
}
/* about settings */
.about {
    background-image: url(/paper.png);
    background-size: cover;
    font-style:italic;
    margin-top: 200px;
    width: 50%;
    border: 5px solid black;
    font-size: 20px;
    background-color: rgba(10, 10, 118, 0.879);
    color: rgba(12, 3, 3, 0.979);
    font-family:Georgia, 'Times New Roman', Times, serif
}
/* work settings */

.work {
    color: rgb(11, 110, 11);
    background-image: url(/gitlogo.png);
    background-color: rgba(10, 10, 118, 0.842);
    width: 45%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 5px solid black;
    margin-top: 1.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* link settings */
.work a {
    color: green;
}
/* link hover settings */
.work a:hover {
    color: red;
}
/* header settings */
.work h2 {
    font-size: 50px;
    font-weight: bolder;
}
/* h2  settings */
.contact h2 {
    font-size: 50px;
    font-weight: bolder;
}
/* paragraph settings */
.contact {
    border: 5px solid black;
    background-color: rgba(10, 10, 118, 0.411);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px; 
    width: 50%;
    margin-top: 1.5%;
    color: whitesmoke;
}
/* phone settings */
#phone:hover {
    color: green;
    cursor: grab;
}

/* email display when hovering settings */
#email:hover {
    color: red;
    cursor: grab;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    color: aquamarine;
    font-size: x-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

@media screen and (max-width: 992px) {

    /* h1 settings */
    header h1 {
        height: 80px;
        color: rgb(255, 255, 255);
        font-size: 35px;
        font-weight: bolder;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-bottom: 0;
        margin-top: 0;
    }
    /* header settings */
    header nav {
        font-size: 10px;
        color: rgb(255, 255, 255);
    }
    
    header li {
        width: max-content;
    }
    
    /* list settings */
    li {
        gap: 50px;
        list-style: none;
        margin: 1%;
    }
    /* direction link settings */
    a {
        color: rgb(255, 255, 255);
    }
    /*direction link settings */
    a:hover {
        cursor: grabbing;
        color: rgb(202, 33, 33);
    }
    /*  trying to get my elements to display as a grid  */
    
    .position {
        display: flex;
        justify-content: space-around;
    }
    
    #section1 {
        margin-top: 20%;
        display: flex;
        justify-content: flex-end;
    }
    
    #section2 {
        margin-top: 20%;
        display: flex;
        justify-content: flex-end;
    }
    
    #section3 {
        margin-top: 20%;
        display: flex;
        justify-content: flex-end;
    }
    
    #about {
        display: flex;
        justify-content: flex-start;
    }
    
    #about h2 {
        margin-right: 20%;
    }
    
    /* about h2 settings */
    .about h2 {
        font-weight: bolder;
        font-size: 25px;
    }
    /* about settings */
    .about {
        background-image: url(/paper.png);
        background-size: cover;
        font-style:italic;
        margin-top: 100px;
        width: 50%;
        border: 5px solid black;
        font-size: 20px;
        background-color: rgba(118, 10, 46, 0.842);
        color: rgba(12, 3, 3, 0.979);
        font-family:Georgia, 'Times New Roman', Times, serif
    }
    /* work settings */
    
    .work {
        color: rgb(11, 110, 11);
        background-image: url(/gitlogo.png);
        background-color: rgba(118, 10, 46, 0.842);
        width: 45%;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border: 3px solid black;
        margin-top: 1.5%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    /* link settings */
    .work a {
        color: green;
    }
    /* link hover settings */
    .work a:hover {
        color: red;
    }
    /* header settings */
    .work h2 {
        font-size: 25px;
        font-weight: bolder;
    }
    /* h2  settings */
    .contact h2 {
        font-size: 25px;
        font-weight: bolder;
    }
    /* paragraph settings */
    .contact {
        border: 3px solid black;
        background-color: rgba(118, 10, 46, 0.842);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 10px; 
        width: 50%;
        margin-top: 1.5%;
    }
    /* phone settings */
    #phone {
        color: rgb(0, 255, 30);
    }
    
    #phone:hover {
        color: rgb(214, 90, 8);
        cursor: grab;
    }
    /*emal display settings */
    #email {
        color: rgb(0, 255, 30);
    }
    /* email display when hovering settings */
    #email:hover {
        color: rgb(238, 0, 255);
        cursor: grab;
    }

    footer {
        display: flex;
        justify-content: center;
        margin-top: 20%;
        color: rgb(180, 127, 255);
        font-size: x-large;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bolder;
    }
}