/* backgorund image for page */ 
body {
    background-image: url(/challenge2/img/background1.png);
    background-size: cover;
}
/* h1 settings */
header h1 {
    height: 110px;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}
/* header settings */
header nav {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

header li {

    width: max-content;
}

/* list settings */
li {
    gap: 10px;
    list-style: none;
    margin: 1%;
}
/* direction link settings */
a {
    color: rgb(255, 255, 255);
}
/*direction link settings */
a:hover {
    cursor: grabbing;
    color: rgb(202, 33, 33);
}
/*  trying to get my elements to display as a grid  */

.position {
    display: flex;
    justify-content: space-around;
}

/* about h2 settings */
.about h2 {
    font-style: bolder;
    font-size: 50px;
}
/* about settings */
.about {
    background-image: url(/challenge2/img/paper.png);
    background-size: cover;
    font-style:italic;
    margin-top: 200px;
    width: 50%;
    border: 5px solid black;
    font-size: 20px;
    background-color: rgba(10, 10, 118, 0.879);
    color: rgba(12, 3, 3, 0.979);
    font-family:Georgia, 'Times New Roman', Times, serif
}
/* work settings */

.work {
    color: rgb(11, 110, 11);
    background-image: url(/challenge2/img/gitlogo.png);
    background-color: rgba(10, 10, 118, 0.879);
    width: 45%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 5px solid black;
    margin-top: 1.5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* link settings */
.work a {
    color: green;
}
/* link hover settings */
.work a:hover {
    color: red;
}
/* header settings */
.work h2 {
    font-size: 50px;
    font-style: bolder;
}
/* h2  settings */
.contact h2 {
    font-size: 50px;
    font-style: bolder;
}
/* paragraph settings */
.contact {
    border: 5px solid black;
    background-color: rgba(10, 10, 118, 0.879);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px; 
    width: 50%;
    margin-top: 1.5%;
}
/* phone settings */
#phone {
    color: rgb(0, 174, 255);
}

#phone:hover {
    color: green;
    cursor: grab;
}
/*emal display settings */
#email {
    color: blue;
    text-underline-position: below;
}
/* email display when hovering settings */
#email:hover {
    text-decoration-line: underline 2px red;
    color: red;
    cursor: grab;
}